.floatButton{
    bottom: 30px;
    right: 30px;
    position: fixed;
    cursor: pointer;
}

.floatButton__img{
width: 80px;
margin-bottom: 10px;


}

@media screen and (max-width:480px) {
    .floatButton__img{
        width: 70px;
    }
    
    }

