.home__logo{
    height: 350px;
    filter: drop-shadow(10px 8px 3px black);
}
.home__container{
    position:relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url('../../assets/img/background.jpg');
    background-size: cover;
    background-attachment: fixed;
}
.home__container button{
    background-color: #692AE8;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
    font-size: 18px;
    border-style: none;
    box-shadow: #000000 2px 2px 2px;
    color: #FFFFFF;
}
.home__container h3{
    color: #FFFFFF;
    text-shadow: #000000 2px 2px 2px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.home__container button:hover{
    background-color: #93704B;
}


